.app {
	text-align: center;
}

.app-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.app-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.app-title {
	font-size: 1.5em;
}

.app-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
